* {
  border: 0;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "inter", sans-serif;
  background-color: #f6f6f6;
}

/* navbar styling */

.navContainer {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0px 120px;
  background-color: #fff;
  height: 70px;
  z-index: 100;
  margin-bottom: 16px;
  position: sticky;
  top: 0;
  box-shadow: 0 2px 12px rgba(0, 0, 0, 0.068);
}
.navList {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navList li {
  list-style: none;
  font-weight: 500;
  font-size: 1.2rem;
}
.navList li a {
  text-decoration: none;
  color: black;
}
.navList li img {
  width: 100px;
}

/* hero container styling */
main {
  padding: 0px 24px;
}
.heroContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  height: 90vh;
  background-image: url("./Images/background.jpeg");
  background-position: center;
  background-size: cover;
  border-radius: 24px;
  overflow: hidden;
  padding: 40px 0;
  box-shadow: inset 0 20px 90px 20px rgba(0, 0, 0, 0.7);
}

/* hero top styling */
.heroTop {
  padding: 0px 40px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #fff;
  height: 72px;
}
.topLeft {
  width: 200px;
}

.heroTop ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 24px;
}

.heroTop ul li {
  list-style: none;
  font-size: 1.8rem;
  font-weight: 500;
  padding: 8px;
  border-radius: 50%;
  border: 1px solid #fff;
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.heroTop ul li:hover {
  opacity: 0.7;
  cursor: pointer;
}
.topRight {
  max-width: 350px;
}
.topRight p {
  font-size: 1.15rem;
  font-weight: 400;
  line-height: 1.6rem;
  opacity: 0.8;
  text-align: right;
}

/* searchbar styling */
.heroSearchContainer {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.heroSearchBarContent {
  width: 50%;
}
.heroSearchBar {
  text-align: center;
  width: 100%;
  outline: none;
  background-color: #ffffff71;
  font-size: 1.2rem;
  font-weight: 200;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 24px 20px;
  border-radius: 20px;
  border: 1px solid #ffffffcf;
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  --webkit-backdrop-filter: blur(10px);
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.19);
}

.heroSearchBar::placeholder {
  color: rgba(255, 255, 255, 0.6);
  font-weight: 200;
}
.heroSearchBar:focus {
  box-shadow: 0 1px 20px rgba(255, 255, 255, 0.511);
  transition: box-shadow 0.3s ease-in-out;
}

/* hero bottom styling */
.heroBottom {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 40px;
  color: #fff;
}

.bottomLeftContainer {
  width: 25%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 20px;
}

.bottomLeftIcons {
  color: rgb(255, 208, 0);
  font-size: 1.3rem;
}
.bottomLeftContent {
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.6rem;
  opacity: 0.8;
  font-style: italic;
  width: 250px;
}
.bottomRightContainer {
  width: 30%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.bottomRightContainer ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 16px;
}

.bottomRightContainer ul li {
  list-style: none;
  padding: 12px 20px;
  border: 1px solid #ffffff00;
}
.bottomRightContainer ul li:hover {
  border: 1px solid #fff;
  border-radius: 20px;
  cursor: pointer;
  background-color: #ffffff61;
}

/* services container styling */
.servicesContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 70vh;
}

.servicesHeader {
  width: 100%;
  margin-bottom: 32px;
}

.servicesTitle {
  font-size: 210px;
  letter-spacing: -15px;
  font-weight: 800;
  color: #141414;
  text-align: center;
}
.servicesSub {
  display: flex;
  padding: 0px 230px;
  justify-content: space-between;
  align-items: center;
  color: #4b4b4b;
  width: 100%;
}
ss .leftSub {
  width: 250px;
  font-size: 1.1rem;
  line-height: 1.5rem;
  font-weight: 400;
}
.rightSub {
  width: 300px;
  text-align: right;
  font-size: 1.1rem;
  line-height: 1.5rem;
  font-weight: 400;
}
.servicesLine {
  width: 40%;
  background-color: rgba(255, 187, 0, 0.17);
  height: 2px;
}

/* services cards styling */

.servicesGrid {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  width: 100%;
  padding: 16px 0;
}
.left-service {
  background-image: url("./Images/tile.png");
  background-size: cover;
  background-position: center;
  height: 480px;
  width: 25%;
  border-radius: 16px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.services-button {
  background-color: transparent;
  border: 1px solid #fff;
  color: white;
  padding: 12px 24px;
  border-radius: 24px;
  margin-top: 24px;
}
