@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

* {
  border: 0;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --container-width: 1400px;
  --subtle-cream: #fdf4ec;
  --dark-cream: #a8987c;
  --dark-text: #150e03;
}

body {
  font-family: "inter", sans-serif;
  background-color: #ffffff;
  overflow-x: hidden;
}

/* utility classes */
.t-right {
  text-align: right;
}
.t-center {
  text-align: center;
}
.t-left {
  text-align: left;
}
.bt-color-dark {
  color: var(--dark-cream) !important;
}
.bt-color-light {
  color: var(--subtle-cream) !important;
}

.bt-color-white {
  color: #fff !important;
}
.mb-0 {
  margin-bottom: 8px;
}

.mb-1 {
  margin-bottom: 1rem;
}

.mb-2 {
  margin-bottom: 2rem;
}
.mb-4 {
  margin-bottom: 4rem;
}
.mb-6 {
  margin-bottom: 6rem;
}
.txt-1 {
  font-size: 1rem;
}
.txt-2 {
  font-size: 1.5rem;
}
.txt-3 {
  font-size: 2rem;
}
.txt-4 {
  font-size: 2.5rem;
}

/* display styling */
.d-flex {
  display: flex;
}
.d-grid {
  display: grid;
}
.jc-center {
  justify-content: center;
}
.jc-start {
  justify-content: flex-start;
}
.jc-end {
  justify-content: flex-end;
}
.ai-center {
  align-items: center;
}
.ai-start {
  align-items: flex-start;
}
.ai-end {
  align-items: flex-end;
}
.jc-space-between {
  justify-content: space-between;
}
.jc-space-around {
  justify-content: space-around;
}
.jc-space-evenly {
  justify-content: space-evenly;
}
.ai-space-between {
  align-items: space-between;
}
.ai-space-around {
  align-items: space-around;
}
.ai-space-evenly {
  align-items: space-evenly;
}
.flex-column {
  flex-direction: column;
}
.flex-row {
  flex-direction: row;
}
.flex-wrap {
  flex-wrap: wrap;
}
.flex-nowrap {
  flex-wrap: nowrap;
}

.bg-white {
  background-color: #fff;
}

/* navbar styling */

header {
  position: sticky;
  top: 0;
  z-index: 9999;
  background-color: rgba(255, 255, 255, 0.7);
  -webkit-backdrop-filter: blur(30px);
  backdrop-filter: blur(30px);
}
.navContainer {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0px 120px;
  height: 70px;
  z-index: 100;
  margin-bottom: 16px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}
.navList {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: var(--container-width);
}

.navList li {
  list-style: none;
  font-weight: 500;
  font-size: 1.2rem;
}
.navList li a {
  text-decoration: none;
  color: black;
}
.navList li img {
  width: 100px;
}

/* mobile nav container */
.mobile-menu {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 0 24px;
  display: none;
}

.mobile-menu ul {
  width: 100%;
  display: flex;
  list-style: none;
  justify-content: space-between;
  align-items: center;
}

.mobile-logo {
  width: 90px;
}

/* hero container styling */
main {
  padding: 0px 24px;
}
.heroContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  height: 90vh;
  background-image: url("./Images/background.jpeg");
  background-position: center;
  background-size: cover;
  border-radius: 24px;
  overflow: hidden;
  padding: 40px;
  box-shadow: inset 0 20px 90px 20px rgba(0, 0, 0, 0.7);
}

/* hero top styling */
.heroTop {
  /* padding: 0px 40px; */

  width: 100%;
  max-width: var(--container-width);
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #fff;
  height: 72px;
}
.topLeft {
  width: 200px;
}

.heroTop ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 24px;
}

.heroTop ul li {
  list-style: none;
  font-size: 1.8rem;
  font-weight: 500;
  padding: 8px;
  border-radius: 50%;
  border: 1px solid #fff;
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.heroTop ul li:hover {
  opacity: 0.7;
  cursor: pointer;
}
.topRight {
  max-width: 350px;
}
.topRight p {
  font-size: 1.15rem;
  font-weight: 400;
  line-height: 1.6rem;
  opacity: 0.8;
  text-align: right;
}

/* searchbar styling */
.heroSearchContainer {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.heroSearchBarContent {
  width: 50%;
}
.heroSearchBar {
  text-align: center;
  width: 100%;
  outline: none;
  background-color: #ffffff71;
  font-size: 1.2rem;
  font-weight: 200;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 32px 20px;
  border-radius: 20px;
  border: 1px solid #ffffffcf;
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  --webkit-backdrop-filter: blur(10px);
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.19);
}

.heroSearchBar::placeholder {
  color: rgba(255, 255, 255, 0.6);
  font-weight: 200;
}
.heroSearchBar:focus {
  box-shadow: 0 1px 20px rgba(255, 255, 255, 0.511);
  transition: box-shadow 0.3s ease-in-out;
}

/* hero bottom styling */
.heroBottom {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* padding: 0px 40px; */
  color: #fff;
  max-width: var(--container-width);
}

.bottomLeftContainer {
  width: 25%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 20px;
}

.bottomLeftIcons {
  color: rgb(255, 208, 0);
  font-size: 1.3rem;
}
.bottomLeftContent {
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.6rem;
  opacity: 0.8;
  font-style: italic;
  width: 250px;
}
.bottomRightContainer {
  width: 30%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.bottomRightContainer ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 16px;
}

.bottomRightContainer ul li {
  list-style: none;
  padding: 12px 20px;
  border: 1px solid #ffffff00;
}
.bottomRightContainer ul li:hover {
  border: 1px solid #fff;
  border-radius: 20px;
  cursor: pointer;
  background-color: #ffffff61;
}

/* services container styling */
.servicesContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.servicesHeader {
  width: 100%;
  margin-bottom: 32px;
  max-width: var(--container-width);
}

.servicesTitle {
  font-size: 210px;
  letter-spacing: -10px;
  font-weight: 800;
  color: #141414;
  text-align: center;
}
.servicesTitle h1 {
  font-weight: 900;
}
.servicesSub {
  display: flex;
  padding: 0px 40px;
  justify-content: space-between;
  align-items: center;
  color: #4b4b4b;
  width: 100%;
}
.leftSub {
  width: 250px;
  font-size: 1.1rem;
  line-height: 1.5rem;
  font-weight: 400;
}
.rightSub {
  width: 300px;
  text-align: right;
  font-size: 1.1rem;
  line-height: 1.5rem;
  font-weight: 400;
}
.servicesLine {
  width: 40%;
  background-color: var(--dark-cream);
  height: 2px;
  opacity: 0.4;
}

/* services cards styling */

.servicesGrid {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  width: 100%;
  padding: 16px 0;
  max-width: var(--container-width);
  height: 620px;
}

.left-service {
  background-image: url("./Images/tile.png");
  background-size: cover;
  background-position: center;
  height: 100%;
  width: 33%;
  border-radius: 24px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.services-button {
  background-color: transparent;
  border: 1px solid #fff;
  color: white;
  padding: 20px 56px;
  border-radius: 32px;
  margin-top: 32px;
  cursor: pointer;
  font-size: 18px;
}

.services-button:hover {
  background-color: #ffffff4b;
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  --webkit-backdrop-filter: blur(10px);
  transition: all 0.6s ease;
}

/* carousal tile */

.middle-service {
  background-image: url("./Images/tile 2.png");
  background-size: cover;
  background-position: center;
  height: 100%;
  width: 33%;
  border-radius: 24px;
  overflow: hidden;
  padding: 16px;
}

.middle-service-list {
  display: flex;
  justify-content: end;
  align-items: end;
  list-style: none;
  color: #fff;
  height: 100%;
  width: 100%;
  gap: 10px;
}
.middle-service-list .middle-service-item {
  border: 1px solid #fff;
  padding: 16px;
  border-radius: 50%;
  display: flex;
  justify-content: end;
  align-items: center;
  font-size: 1.2rem;
  cursor: pointer;
}

.middle-service-item:hover {
  background-color: rgba(255, 255, 255, 0.501);
  transition: all 0.6s ease;
}

.middle-service-item i {
  font-size: 1.5rem;
  padding: 0;
}

/* right tile styling */

.right-service {
  display: flex;
  width: 33%;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  border-radius: 24px;
  overflow: hidden;
  gap: 10px;
}

.right-service .right-top {
  background-color: var(--subtle-cream);
  height: 50%;
  border-radius: 24px;
  padding: 24px;
  position: relative;
}

.right-top .right-top-content {
  display: flex;
  flex-direction: column;
  gap: 6px;
  width: 60%;
}
.right-top-content .rt-img {
  position: absolute;
  width: 150px;
  top: 0;
  right: 0;
  margin: 16px;
}

.right-top-content .rt-icon i {
  font-size: 2rem;
  border: 2px solid var(--dark-cream);
  border-radius: 50%;
  color: var(--dark-cream);
  padding: 8px;
  margin-bottom: 12px;
}

.right-top-content h3 {
  color: var(--dark-text);
  font-size: 1.5rem;
  font-weight: 600;
}
.right-top-content p {
  color: var(--dark-cream);
  font-weight: 300;
  line-height: 1.3rem;
}

.right-bottom {
  background-color: var(--subtle-cream);
  height: 50%;
  border-radius: 24px;
  padding: 24px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-end;
  gap: 6px;
  overflow: hidden;
  position: relative;
}

.right-bottom .right-bottom-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  gap: 6px;
  width: 60%;
}
.right-bottom .rb-icon i {
  font-size: 2rem;
  border: 2px solid var(--dark-cream);
  border-radius: 50%;
  color: var(--dark-cream);
  padding: 8px;
  margin-bottom: 12px;
}

.right-bottom-content h3 {
  color: var(--dark-text);
  font-size: 1.5rem;
  font-weight: 600;
}

.right-bottom-content p {
  color: var(--dark-cream);
  font-weight: 300;
  text-align: right;
  line-height: 1.3rem;
  text-align: right;
}

.right-bottom-content .rb-img {
  position: absolute;
  width: 130px;
  top: 0;
  left: 0;
  margin: 16px;
}

/* about section styling */
.about {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.about-header {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 24px;
  max-width: var(--container-width);
}

.about-left-header {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 50%;
}

.about-left-header h1 {
  font-size: 12rem;
  font-weight: 900;
  color: var(--dark-text);
  letter-spacing: -2px;
}

.about-right-header {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  width: 50%;
  padding: 1rem;
}

.about-rt-content {
  border-bottom: 1px solid var(--dark-cream);
  padding: 2rem 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.about-right-header .about-rt-content p {
  font-size: 1.2rem;
  color: var(--dark-cream);
  line-height: 1.5rem;
}

.about-rb-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 0;
  width: 100%;
}

.about-rb-content .header-btn {
  padding: 16px 30px;
  border-radius: 2rem;
  border: 1px solid var(--dark-text);
  background-color: transparent;
  cursor: pointer;
  color: var(--dark-text);
  font-size: 1.1rem;
}

.about-rb-content p {
  text-align: right;
  font-size: 1.2rem;
  color: var(--dark-cream);
  line-height: 1.5rem;
}

.about-content {
  width: 100%;
  position: relative;
  max-width: var(--container-width);
}
.about-content-container {
  padding: 2rem 0;
}
.about-content-container video {
  border-radius: 2rem;
  box-shadow: 0px 0px 105px rgba(121, 111, 64, 0.343);
}

.about-content-text {
  position: absolute;
  top: 5rem;
  left: 5rem;
  z-index: 99;
  width: 20%;
  font-size: 1.2rem;
  line-height: 1.6rem;
  color: var(--subtle-cream);
  opacity: 0.9;
}

.about-content-overlay {
  position: absolute;
  bottom: 5rem;
  left: 5rem;
  font-size: 12rem;
  font-weight: 900;
  letter-spacing: -10px;
  color: var(--subtle-cream);
  mix-blend-mode: overlay;
  opacity: 0.7;
  line-height: 10rem;
}

.about-content-right {
  position: absolute;
  top: 50%;
  right: 5rem;
  text-align: right;
  color: rgba(255, 255, 255, 0.828);
}

/* property tiles styling */
property-tiles {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.property-header-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.property-header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 32px;
  margin-bottom: 2rem;
  max-width: var(--container-width);
}

.property-left-header {
  width: 100%;
}

.property-lt-content {
  border-bottom: 1px solid var(--dark-cream);
  padding: 2rem 0;
  display: flex;
  justify-content: right;
  align-items: center;
  width: 100%;
}

.property-lb-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 0;
  width: 100%;
}

.property-lb-content .header-btn {
  padding: 16px 30px;
  border-radius: 2rem;
  border: 1px solid var(--dark-text);
  background-color: transparent;
  cursor: pointer;
  color: var(--dark-text);
  font-size: 1.1rem;
}

.property-lt-content p {
  text-align: right;
  font-size: 1.2rem;
  color: var(--dark-cream);
  line-height: 1.5rem;
}

.property-lb-content p {
  font-size: 1.2rem;
  color: var(--dark-cream);
  line-height: 1.5rem;
}

.property-right-header {
  width: 100%;
}
.property-right-header h1 {
  font-size: 12rem;
  font-weight: 800;
  color: var(--dark-text);
  letter-spacing: -8px;
  text-align: right;
}

/* tiles styling */

.property-tiles-container {
  width: 100%;
  height: 100%;
  padding: 1rem 0;
  display: flex;
  justify-content: center;
}
.property-tiles-inner-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-auto-rows: 420px;
  gap: 16px;
  max-width: var(--container-width);
}

.tile {
  border-radius: 1.5rem;
  overflow: hidden;
  padding: 1rem;
}

.tile:nth-child(even) {
  background-color: white;
}

.relative {
  position: relative;
}

.arrow-style {
  position: absolute;
  top: 1rem;
  right: 1rem;
  border: 2px solid var(--subtle-cream);
  color: var(--subtle-cream);
  padding: 8px;
  border-radius: 50%;
  cursor: pointer;
  rotate: -45deg;
}

.property-tiles-1 {
  background-image: url(./Images/tile1.jpg);
  background-position: center;
  background-size: cover;
}
.property-tiles-2 {
  background-color: white;
  position: relative;
}
.tile h2 {
  color: var(--dark-text);
  font-weight: 400;
  font-size: 1.6rem;
}
.tile p {
  font-size: 1rem;
  font-weight: 300;
  width: 80%;
}
.tile-content {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.property-tiles-3 {
  background-image: url(./Images/tile3.jpg);
  background-position: center;
  background-size: cover;
}

.property-tiles-5 {
  background-color: white;
}
.property-tiles-6 {
  background-image: url(./Images/tile-orange-fern.jpg);
  background-position: center;
  background-size: cover;
}

.property-tiles-7 {
  background-image: url(./Images/tile-chair-blue.jpg);
  background-position: center;
  background-size: cover;
}

.property-tiles-8 {
  background-image: url(./Images/tile5.jpg);
  background-position: center;
  background-size: cover;
}
.property-tiles-9 {
  background-image: url(./Images/tile8.jpg);
  background-position: center;
  background-size: cover;
}
.property-tiles-10 {
  background-image: url(./Images/tile-white-wall.jpg);
  background-position: center;
  background-size: cover;
}

.property-tiles-10 i {
  border: 2px solid var(--dark-cream);
}

.property-tiles-12 {
  background-image: url(./Images/tile-12.jpg);
  background-position: center;
  background-size: cover;
}

/* subscribe section styling */
.subscribe {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.subscribe-inner {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 64px;
  max-width: var(--container-width);
}

.subscribe-inner h1 {
  font-size: 12rem;
  font-weight: 900;
  color: var(--dark-text);
  letter-spacing: -9px;
}
.subscribe-inner p {
  font-size: 1.2rem;
  color: var(--dark-cream);
  line-height: 1.5rem;
  text-align: right;
  width: 30%;
}

/* footer styling */
footer {
  padding: 16px 0;
  height: auto;
  max-height: 800px;
}
.footer-container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  padding: 2rem;
  background-color: var(--subtle-cream);
  border-radius: 1rem 1rem 0 0;
  margin-top: 1rem;
}
.footer-links-inner-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  max-width: var(--container-width);
  width: 100%;
  justify-content: space-between;
}
.footer-subscribe-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 32px;
  width: 100%;
}

.footer-left-subscribe {
  display: flex;
  flex-direction: column;
  gap: 24px;
  height: auto;
  max-width: 35%;
}

.footer-left-subscribe p {
  font-size: 1.3rem;
  color: var(--dark-cream);
  line-height: 1.6rem;
  font-weight: 300;
}
.footer-left-subscribe .input-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 16px;
}

.footer-left-subscribe .input-container input {
  width: 100%;
  padding: 1rem;
  border-radius: 2rem;
  border: 1px solid var(--dark-cream);
  outline: none;
  background-color: transparent;
  outline: none;
  font-size: 1.1rem;
  color: var(--dark-cream);
}

.input-container input::placeholder {
  color: var(--dark-cream);
  font-weight: 300;
}
.input-arrow-style {
  border: 1px solid var(--dark-cream);
  color: var(--dark-cream);
  padding: 8px;
  border-radius: 50%;
  cursor: pointer;
  rotate: -45deg;
}

.footer-right-subscribe {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: end;
  gap: 16px;
}

.footer-right-subscribe img {
  width: 300px;
}
.footer-right-subscribe p {
  font-weight: 400;
  width: 30vw;
  max-width: 420px;
  text-align: right;
  font-size: 1rem;
  color: var(--dark-cream);
  line-height: 1.4rem;
}

/* footerlinks */
.footer-links-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.footer-contact {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.footer-contact h3 {
  font-size: 2rem;
  color: var(--dark-text);
  font-weight: 500;
}

.footer-contact ul {
  display: flex;
  flex-direction: column;
  gap: 12px;
  list-style: none;
  text-align: left;
  font-size: 1.2rem;
  color: var(--dark-cream);
  font-weight: 400;
}

/* right side of footer links */

.footer-sm-links {
  display: flex;
  justify-content: space-between;
  width: 50%;
  max-width: 60%;
}
.footer-sm-container {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.footer-sm-links h3 {
  font-size: 2rem;
  color: var(--dark-text);
  font-weight: 500;
  gap: 32px;
  text-align: right;
}
.footer-sm-links ul {
  display: flex;
  flex-direction: column;
  gap: 12px;
  list-style: none;
  text-align: right;
  font-size: 1.2rem;
  color: var(--dark-cream);
  font-weight: 400;
}

/* ----------------------------- */
/* responsive for mobile */
/* responsive styling */
/* ----------------------------- */

@media only screen and (max-width: 450px) {
  body {
    position: relative;
    overflow-x: hidden !important;
  }

  header {
    position: sticky;
    top: 0;
    z-index: 9999;
    background: rgba(255, 255, 255, 0.7);
    -webkit-backdrop-filter: blur(30px);
    backdrop-filter: blur(30px);
    margin-bottom: 1rem;
  }

  .menu-visible {
    right: 0% !important;
  }
  /* navigation */

  .mobile-toggle {
    position: absolute;
    top: 84px;
    right: -100%;
    width: 80%;
    align-self: flex-end;
    background: rgba(255, 255, 255, 0.979);
    height: 400px !important;
    border-radius: 0 0 0 16px;
    z-index: 99999999 !important;
    padding: 1rem 0;
    transition: all 1s ease;
  }

  .mobile-menu {
    display: flex;
  }

  .navContainer {
    padding: 1rem 0;
    height: auto;
    flex-direction: column;
    margin-bottom: 0;
  }

  .navList {
    flex-direction: column;
    gap: 48px;
    overflow: hidden;
    min-height: 200px;
    transition: height 1s ease;
    z-index: 999000;
    justify-content: flex-start;
  }

  .navList li {
    padding: 10px 32px;
    text-align: center;
  }

  .navList li a {
    text-align: center;
  }
  .menu {
    cursor: pointer;
  }
  /* logo removal in mobile view */
  .navList li:nth-child(3n) {
    display: none;
  }

  /* hero container styling */
  .heroContainer {
    gap: 5rem;
    height: auto;
    padding: 24px;
  }

  .heroTop {
    flex-direction: column;
    gap: 1rem;
    height: auto;
  }

  .heroTop .topRight {
    width: 100%;
    max-width: 320px;
  }

  .heroTop > .topRight p {
    text-align: center;
    width: 100%;
  }

  .heroSearchBar {
    padding: 1.5rem 2rem;
  }

  .heroSearchContainer .heroSearchBarContent {
    width: 100%;
  }
  .heroBottom {
    flex-direction: column;
    gap: 4px;
  }

  .heroBottom .bottomLeftContainer {
    width: 100%;
    align-items: center;
  }

  .bottomLeftContent {
    text-align: center;
    width: 100%;
  }
  .bottomRightContainer {
    width: 100%;
    justify-content: center;
    flex-wrap: wrap;
  }
  .bottomRightContainer ul {
    flex-wrap: wrap;
    justify-content: center;
    gap: 0;
  }

  /* services container */

  .servicesContainer {
    padding: 1rem 0;
  }
  .servicesHeader {
    display: flex;
    flex-direction: column;
    gap: 16px;
  }
  .servicesTitle {
    letter-spacing: -5px;
    display: flex;
    justify-content: center;
  }
  .servicesTitle h1 {
    font-size: 4.5rem;
    display: block;
    width: 100%;
    font-weight: 900;
    margin-left: -9px !important;
    text-align: center;
  }
  .servicesSub {
    flex-direction: column;
    gap: 12px;
  }

  .leftSub {
    width: 90%;
    text-align: center;
  }
  .rightSub {
    width: 90%;
    text-align: center;
  }
  .servicesGrid {
    flex-direction: column;
    height: auto;
    gap: 16px;
  }

  .left-service,
  .middle-service,
  .right-service {
    width: 100%;
    height: 440px;
  }

  .right-bottom {
    justify-content: center;
  }
  .right-bottom-content {
    align-items: flex-end;
  }
  .right-service h3 {
    font-size: 1.4rem;
  }

  /* about section styling */
  .about-header {
    flex-direction: column;
    gap: 0px;
  }

  .about-left-header {
    width: 100%;
  }
  .about-left-header h1 {
    width: 100%;
    font-size: 7rem;
    text-align: center;
    letter-spacing: -3px;
  }
  .about-right-header {
    width: 100%;
    align-content: center;
    padding: 0;
  }
  .about-rt-content {
    justify-content: center;
  }
  .about-rb-content {
    flex-direction: column-reverse;
    gap: 2rem;
  }
  .header-btn {
    width: 80%;
    padding: 24px 32px !important;
  }
  .about-content {
    height: 480px;
    margin-bottom: 1rem;
  }
  .about-content-container {
    padding: 0;
    height: 100%;
  }
  .about-content-container video {
    height: 100%;
    object-fit: cover;
    object-position: center;
  }
  .about-content-overlay {
    font-size: 8rem;
    bottom: 1rem;
    left: 1rem;
    line-height: 7rem;
  }
  .about-content-text {
    width: 100%;
    top: 8px;
    left: 0;
    margin: 0 auto;
    text-align: center;
    padding: 3rem;
  }

  .about-content-right {
    visibility: hidden;
  }
  .property-header-container {
    flex-direction: column;
  }
  .tile {
    border: 1px solid var(--subtle-cream);
  }

  .property-tiles {
    margin-bottom: 1rem;
  }
  .property-header {
    flex-direction: column-reverse;
    padding: 1rem 0;
    gap: 0;
    margin-bottom: 1rem;
  }
  .property-right-header h1 {
    font-size: 7rem;
    text-align: center;
    margin-left: -4px;
    letter-spacing: -4px;
    font-weight: 900;
  }
  .property-left-header {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }
  .property-lt-content {
    justify-content: center;
    width: 90%;
  }
  .property-lb-content {
    flex-direction: column;
    gap: 2rem;
    text-align: center;
  }
  .property-tiles-inner-container {
    grid-template-columns: repeat(1, 1fr) !important;
    text-align: center;
  }

  .subscribe {
    margin-bottom: 2rem;
  }
  .subscribe-inner {
    flex-direction: column;
    gap: 1rem;
    overflow: hidden;
  }
  .subscribe-inner h1 {
    font-size: 5rem;
    letter-spacing: -4px;
  }
  .subscribe-inner p {
    width: 100%;
    font-weight: 300;
    text-align: center;
  }

  /*footer styling */
  footer {
    height: auto;
    padding: 0;
  }
  .footer-contact {
    width: 100%;
    align-items: center;
  }
  .footer-contact h3 {
    width: 100%;
    font-size: 1.5rem;
    font-weight: 500;
  }

  .footer-contact ul li {
    text-align: center;
  }
  .footer-container {
    padding: 1rem;
  }
  .footer-links-inner-container {
    gap: 4rem;
  }
  .footer-subscribe-container {
    flex-direction: column-reverse;
    gap: 2rem;
  }
  .footer-right-subscribe {
    width: 100%;
  }
  .footer-right-subscribe img {
    display: flex;
    align-self: center;
    width: 100%;
  }

  .footer-right-subscribe p {
    width: 100%;
    text-align: center;
    font-weight: 400;
  }

  .footer-left-subscribe {
    max-width: 100%;
    text-align: center;
    align-items: center;
  }
  .footer-left-subscribe p {
    font-size: 1.1rem;
    font-weight: 400;
    max-width: 98%;
  }
  .input-container {
    padding: 0 8px;
    width: 100%;
  }

  .footer-links-container {
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 1rem;
  }
  .footer-sm-links {
    width: 100%;
    max-width: 100%;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
  }
  .footer-sm-container {
    align-items: center;
    width: 100%;
    gap: 12px;
  }
  .footer-sm-container h3 {
    font-size: 1.5rem;
  }

  .footer-sm-container ul {
    align-items: center;
  }
  .footer-sm-container ul li {
    font-size: 1.2rem;
  }
}
